p {
  font-size:xx-large;
  font-family: Elephant;
}

alignmiddle {
  text-align: center;
}


.form-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}
